@charset "utf-8";

@import "ghost/colors"; // Import color definitions first for use in variables

/**
 * Variable definitions
 */
$base-font-stack:     Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !default;
$base-font-size:      18px !default;
$base-font-weight:    400 !default;
$base-line-height:    1.5 !default;
$base-font-color:     $oc-gray-9 !default;

$spacing-unit:        30px !default;

$heading-font-weight: 600 !default;
$mob-font-weight:     300 !default; // For mobile devices
$small-font-size:     14px !default;
$mob-font-size:       16px !default;

$background-color:    $oc-white !default;
$link-color:          $oc-blue-7 !default;

$on-desktop:          600px !default;

$li-bottom-space:     0.4em;
$mob-li-bottom-space: 0.2em;
$li-bul-width:        1.7em;
$li-line-height:      1.55;

$ul-bul-font:         inherit;
$ul-bul-font-size:    0.8em;
$ul-bul-line-height:  1.8;
$ul-bul-right-space:  0.65em;

$ol-bul-font:         inherit;
$ol-bul-font-size:    1em;
$ol-bul-line-height:  inherit;
$ol-bul-right-space:  0.65em;

$li-child-size-ratio: 0.95;

$dt-width:            180px;
$mob-dt-width:        120px;
$dt-dd-space:         20px;
$dd-position:         $dt-width + $dt-dd-space;
$mob-dd-position:     140px;


/**
 * Define mixins
 */
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

/**
 * Import partials
 */
@import
  "ghost/typography",
  "ghost/layout",
  "ghost/syntax-highlighting",
  "ghost/normalize"
;
